.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    outline: none;
    background: none ;
    cursor: pointer;
    color: #e9ecef;
    font-size: 1rem;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border-radius: 15%;
}

.pagination button:disabled {
    background: none;
    cursor: not-allowed;
    color: grey;
}
